/* formatage des images carousel */
.carousel .carousel-item img, .carousel .carousel-item video {
    height: 400px;
    object-fit: contain;
  }

  .carousel-inner {
    min-height: 450px;
  }
  
  .carousel-item p {
    margin-top: 0.5rem;
    font-size: 1rem;
  }
  
  /* couleurs */
  :root {
    --primary-color: #1f1e33;
    --body-color: #f9f1e8;
  }

  .primary {
    background-color: var(--primary-color);
  }

  .body-bg {
    background-color: var(--body-color);
  }

  .dropdown-item:hover {
    color: var(--primary-color) !important;
  }